---
title: Homebrew Nginx
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} - Homebrew Tap</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% if site.github %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-4472999-11', 'brew.sh');
      ga('send', 'pageview');
    </script>
{% endif %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <p>The community maintained Nginx Formula</p>
        <p class="view"><a href="https://github.com/Homebrew/homebrew-nginx">View the Project on GitHub <small>Homebrew/homebrew-nginx</small></a></p>
        <ul>
          <li><a href="https://nginx.org/en/CHANGES-1.10" target="_blank">Stable <strong>1.10.1</strong></a></li>
          <li><a href="https://nginx.org/en/CHANGES" target="_blank">Mainline <strong>1.11.3</strong></a></li>
          <li><a href="https://github.com/Homebrew/homebrew-nginx">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>

        <h1 id="install-tap">Install tap</h1>
        <p>You can install the tap by running the following commands</p>
{% highlight bash %}
brew tap homebrew/nginx
{% endhighlight %}

        <h1 id="usage">Usage</h1>
        <p>For a list of available configuration options run</p>
{% highlight bash %}
brew options nginx-full
brew info nginx-full
{% endhighlight %}
        <p>Once the tap is installed, you can install nginx-full with optional arguments as additional functionality and <a href="#modules">modules</a>.</p>
{% highlight bash %}
brew install nginx-full --with-upload-module
{% endhighlight %}

        <h1 id="conflicts">Conflicts</h1>
        <p>If you have trouble installing this tap then please make sure the default version of nginx is removed first. You can do that with the following commands.</p>
{% highlight bash %}
brew unlink nginx
brew link nginx-full
{% endhighlight %}

        <h1 id="modules">Modules</h1>
        <p>This tap comes with tons of custom modules and more are added all the time</p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Version</th>
              <th>Description</th>
            </tr>
          <tbody>
{% for module in site.data.modules %}
            <tr>
              <td>{% if module.homepage %}<a href="{{ module.homepage }}" target="_blank">{{ module.name }}</a>{% else %}{{ module.name }}{% endif %}</td>
              <td>{{ module.version }}</td>
              <td>{{ module.description }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>

        <h1 id="contributing">Contributing</h1>
        <p>We accept most modules as long as they are tested and follow convetions. The following rules apply when submitting new formula or updating existing formula.</p>
        <ol>
          <li>Modifications to one module per pull request</li>
          <li>A tagged version must be specified</li>
          <li>Uses --with-{name}-module syntax to install the module</li>
          <li><code>brew doctor</code> must not show any warnings or errors</li>
          <li>Patches must be included in the <code>patches<code> subdirectory</li>
        </ol>

      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/marcqualie" rel="author">Marc Qualie</a></p>
      <p>Built via <a href="https://gostatic.io">GoStatic</a> &mdash; Theme by <a href="https://github.com/orderedlist" target="_blank" rel="nofollow">orderedlist</a></p>
    </footer>

    <!-- Scalefix -->
    <script>
    if (navigator.userAgent.match(/iPhone/i)) {
      var i, gestureStart, metas = document.getElementsByTagName('meta');
      for (i = 0; i < metas.length; i++) {
        if (metas[i].name === "viewport") {
          metas[i].content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
        }
      }
      gestureStart = function () {
        for (i = 0; i < metas.length; i++) {
          if (metas[i].name === "viewport") {
            metas[i].content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
          }
        }
      }
      document.addEventListener("gesturestart", gestureStart, false);
    }
    </script>

  </body>
</html>
