---
title: Homebrew Nginx
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>{{ page.title }} - Homebrew Tap</title>
    <link rel="stylesheet" href="stylesheets/styles.css"/>
    <link rel="stylesheet" href="stylesheets/pygments.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <p>The community maintained Nginx Formula</p>
        <p class="view"><a href="http://github.com/marcqualie/homebrew-nginx">View the Project on GitHub <small>marcqualie/homebrew-nginx</small></a></p>
        <ul>
          <li><a href="http://nginx.org/en/CHANGES-1.4" target="_blank">Stable <strong>1.4.7</strong></a></li>
          <li><a href="http://nginx.org/en/CHANGES" target="_blank">Mainline <strong>1.5.12</strong></a></li>
          <li><a href="https://github.com/marcqualie/homebrew-nginx">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>

        <h1>Install</h1>
        <p>You can install the tap by running the following commands</p>
{% highlight bash %}
brew tap marcqualie/nginx
brew install nginx-full
{% endhighlight %}

        <h1>Conflicts</h1>
        <p>If you have trouble installing this tap then please make sure the default version of nginx is removed first. You can do that with the following commands.</p>
{% highlight bash %}
brew unlink nginx
brew link nginx-full
{% endhighlight %}

        <h1>Modules</h1>
        <p>This tap comes with tons of custom modules and more are added all the time</p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Version</th>
              <th>Description</th>
            </tr>
          <tbody>
{% for module in site.data.modules %}
            <tr>
              <td>{% if module.homepage %}<a href="{{ module.homepage }}" target="_blank">{{ module.name }}</a>{% else %}{{ module.name }}{% endif %}</td>
              <td>{{ module.version }}</td>
              <td>{{ module.description }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>

        <h1>Contributing</h1>
        <p>We accept most modules as long as they are tested and follow convetions. The following rules apply when submitting new formula or updating existing formula.</p>
        <ol>
          <li>Modifications to one module per pull request</li>
          <li>A tagged version must be specified</li>
          <li>Uses --with-{name}-module syntax to install the module</li>
          <li><code>brew doctor</code> must not show any warnings or errors</li>
          <li>Patches must be included in the <code>patches<code> subdirectory</li>
        </ol>

      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/marcqualie">Marc Qualie</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
